# Classify Images of CIFAR-10 dataset

In [1]:
import pandas as pd

In [2]:
# unload images
def unpickle(file):
    import cPickle
    fo = open(file, 'rb')
    dict = cPickle.load(fo)
    fo.close()
    return dict

In [3]:
batch_1 = unpickle("cifar-10-batches-py/data_batch_1")
batch_2 = unpickle("cifar-10-batches-py/data_batch_2")
batch_3 = unpickle("cifar-10-batches-py/data_batch_3")
batch_4 = unpickle("cifar-10-batches-py/data_batch_4")
batch_5 = unpickle("cifar-10-batches-py/data_batch_5")

In [4]:
df1 = pd.DataFrame(batch_1['data'])
df1['label'] = pd.DataFrame(batch_1['labels'])

df2 = pd.DataFrame(batch_2['data'])
df2['label'] = pd.DataFrame(batch_2['labels'])

df3 = pd.DataFrame(batch_3['data'])
df3['label'] = pd.DataFrame(batch_3['labels'])

df4 = pd.DataFrame(batch_4['data'])
df4['label'] = pd.DataFrame(batch_4['labels'])

df5 = pd.DataFrame(batch_5['data'])
df5['label'] = pd.DataFrame(batch_5['labels'])

df = pd.concat([df1, df2, df3, df4, df5])
df.head()

,0,1,2,3,4,5,6,7,8,9,...,3063,3064,3065,3066,3067,3068,3069,3070,3071,label
0,59,43,50,68,98,119,139,145,149,149,...,58,65,59,46,57,104,140,84,72,6
1,154,126,105,102,125,155,172,180,142,111,...,42,67,101,122,133,136,139,142,144,9
2,255,253,253,253,253,253,253,253,253,253,...,83,80,69,66,72,79,83,83,84,9
3,28,37,38,42,44,40,40,24,32,43,...,39,59,42,44,48,38,28,37,46,4
4,170,168,177,183,181,177,181,184,189,189,...,88,85,82,83,79,78,82,78,80,1

__data__ -- a 10000x3072 numpy array of uint8s. Each row of the array stores a 32x32 colour image. The first 1024 entries contain the red channel values, the next 1024 the green, and the final 1024 the blue. The image is stored in row-major order, so that the first 32 entries of the array are the red channel values of the first row of the image.

__labels__ -- a list of 10000 numbers in the range 0-9. The number at index i indicates the label of the ith image in the array data.

The dataset contains another file, called batches.meta. It too contains a Python dictionary object. It has the following entries:
label_names -- a 10-element list which gives meaningful names to the numeric labels in the labels array described above. For example, label_names[0] == "airplane", label_names[1] == "automobile", etc.

In [5]:
label_map = unpickle("cifar-10-batches-py/batches.meta")
label_map = label_map["label_names"]
label_map

['airplane',
 'automobile',
 'bird',
 'cat',
 'deer',
 'dog',
 'frog',
 'horse',
 'ship',
 'truck']

In [6]:
label_map = dict(zip(range(0,10), label_map))

In [7]:
label_map[0]

'airplane'

In [8]:
df_label_names = map(lambda(x): label_map[x], df.label)

In [9]:
df.head()
labels = df['label']
del df['label']

In [10]:
df[0:1000].describe()

,0,1,2,3,4,5,6,7,8,9,...,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,133.467000,132.764000,133.703000,134.17100,135.39400,136.677000,136.762000,136.179000,136.104000,136.528000,...,113.16300,113.195000,113.293000,113.769000,113.870000,114.00600,114.771000,114.869000,114.781000,115.330000
std,72.523076,71.017743,71.069978,70.31519,69.95642,69.987734,70.097325,70.593728,70.644376,70.771405,...,63.91588,63.979359,63.507325,63.657175,63.394921,63.21283,63.526122,64.014652,64.050242,64.946294
min,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,73.750000,74.000000,75.000000,76.00000,81.00000,78.750000,80.750000,80.000000,79.750000,79.000000,...,64.00000,64.000000,64.000000,64.000000,64.000000,65.00000,66.000000,66.000000,68.000000,67.000000
50%,131.000000,128.000000,131.500000,132.00000,132.00000,136.000000,135.000000,133.500000,135.000000,137.000000,...,105.00000,106.000000,105.000000,106.000000,108.000000,108.00000,108.000000,106.500000,107.000000,107.500000
75%,191.000000,188.000000,190.000000,188.00000,190.00000,192.000000,193.000000,192.000000,193.250000,194.000000,...,156.00000,155.000000,157.000000,157.000000,156.250000,157.25000,157.000000,160.000000,161.000000,160.000000
max,255.000000,255.000000,255.000000,255.00000,255.00000,255.000000,255.000000,255.000000,255.000000,255.000000,...,255.00000,255.000000,255.000000,255.000000,255.000000,255.00000,255.000000,255.000000,255.000000,255.000000

In [ ]:
labels.values

In [11]:
from sklearn.cross_validation import train_test_split

In [12]:
Xtr, Xte, Ytr, Yte = train_test_split(df[0:1000].values, labels[0:1000].values, test_size=0.20, random_state=1)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cross_validation import cross_val_score

In [15]:
knn = KNeighborsClassifier()
cross_val_score(knn, Xtr, Ytr, cv=10).mean()

0.21486661620315384

In [16]:
knn.fit(Xtr, Ytr)
knn.score(Xte, Yte)

0.19500000000000001